
// Media
$breakpoints: (
    'phone': 480px,
    'tablet': 768px,
    'desktop': 991px,
    'medium': 1100px,
    'large': 1200px,
    'xl': 1300px
);

$primary: #157A6E;
$dark: #252525;
$white: #fff;
$gray-1: #F3F3F3;